*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.container {
  max-width: 100%;
  padding: 30px;
  background-image: url(../img/bg-main.jpg);
  background-size: cover;
}

.post {
  width: 300px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s ease;
}

.post:hover {
  background-image: url(../img/bg-hover.jpg);
  background-size: cover;
  transform: scale(1.05);
}

.post:hover .post__link {
  color: white;
}

.post__link {
  width: 100%;
  min-height: 280px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 7px 9px 22px 0px rgba(0, 0, 0, 1);
  text-decoration: inherit;
  color: black;
}
